h1{
    background-color: rgb(233, 90, 90) ;
    
}
h2{
    background-color: rgb(233, 90, 90) ;
    
}
h3{
    background-color: rgb(233, 90, 90) ;
    
}
b{
     background-color: rgb(233, 90, 90) ;

}
u{
     background-color: rgb(233, 90, 90) ;
}
marquee{
    background-color:yellow; 
}
*{
    background-color: rgb(229, 221, 221);
}
