

u{
     background-color: rgb(233, 90, 90) ;
}
marquee{
    background-color:yellow; 
}
*{
    background-color: rgb(229, 221, 221);
}
.t_title{
    font-size: 30px;
    text-align: center;
    
}
.t_shadow{
    color: black;
    text-shadow: 4px 6px 8px red;
    font-size: 70px;
    text-align: center;
}
/* .t_color{
   
    text-decoration: underline;
    font-weight: bold;
} */
article{
    font-size: medium;
}
mark{
    background-color:#FF77E4;
    text-decoration: underline;
}
